.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-width: 0;
}

.sidebar {
    background: var(--color-neutral-900);
}

.content {
    padding: var(--space-6);
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

#blazor-error-ui {
    color-scheme: light only;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
    box-sizing: border-box;
    padding: var(--space-2) var(--space-4);
    background: var(--color-accent-200);
    color: var(--color-text);
    box-shadow: var(--shadow-md);
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: var(--space-3);
        top: var(--space-2);
    }
